/* Reusable */
.primary1{
    /* max-width: 90px ; */
    color: white;
    background: red !important;
    padding: 10px !important;
    border-radius: 0 !important;
    border: 0;
}
.primary1:hover{
    border: 1px solid red !important;
    color: red !important;
    background-color: transparent !important;
}
.primary2{
    /* max-width: 90px ; */
    color: white;
    background-color: red ;
    padding: 10px ;
    border-radius: 0 ;
    border: 0;
}
.primary2:hover{
    border: 1px solid red ;
    color: red ;
    background-color: transparent ;
}